/*---------------------------------------------------------
   main
  ---------------------------------------------------------*/

  .calendar a.calendar-complete, .calendar a.calendar-verycomplete {
    color: #009900;
  }
  .calendar a.calendar-day25.calendar-complete,
  .calendar a.calendar-day25.calendar-verycomplete{ color: #ffff66; }
  .calendar a.calendar-day25.calendar-verycomplete{ text-shadow: 0 0 5px #ffff66; }

  .calendar .calendar-trunk { color: #cccccc; }

  .calendar a                       .calendar-ornament0 { color: inherit; }
  .calendar a                       .calendar-ornament1 { color: inherit; }
  .calendar a                       .calendar-ornament2 { color: inherit; }
  .calendar a                       .calendar-ornament3 { color: inherit; }
.calendar a.calendar-verycomplete .calendar-ornament0 { color: #0066ff; text-shadow: 0 0 5px #0066ff; }
.calendar a.calendar-verycomplete .calendar-ornament1 { color: #ff9900; text-shadow: 0 0 5px #ff9900; }
.calendar a.calendar-verycomplete .calendar-ornament2 { color: #ff0000; text-shadow: 0 0 5px #ff0000; }
.calendar a.calendar-verycomplete .calendar-ornament3 { color: #ffff66; text-shadow: 0 0 5px #ffff66; }

.calendar.calendar-beckon .calendar-day1  { animation: anim-beckon 3s infinite -2.875s; }
.calendar.calendar-beckon .calendar-day2  { animation: anim-beckon 3s infinite -2.750s; }
.calendar.calendar-beckon .calendar-day3  { animation: anim-beckon 3s infinite -2.625s; }
.calendar.calendar-beckon .calendar-day4  { animation: anim-beckon 3s infinite -2.500s; }
.calendar.calendar-beckon .calendar-day5  { animation: anim-beckon 3s infinite -2.375s; }
.calendar.calendar-beckon .calendar-day6  { animation: anim-beckon 3s infinite -2.250s; }
.calendar.calendar-beckon .calendar-day7  { animation: anim-beckon 3s infinite -2.125s; }
.calendar.calendar-beckon .calendar-day8  { animation: anim-beckon 3s infinite -2.000s; }
.calendar.calendar-beckon .calendar-day9  { animation: anim-beckon 3s infinite -1.875s; }
.calendar.calendar-beckon .calendar-day10 { animation: anim-beckon 3s infinite -1.750s; }
.calendar.calendar-beckon .calendar-day11 { animation: anim-beckon 3s infinite -1.625s; }
.calendar.calendar-beckon .calendar-day12 { animation: anim-beckon 3s infinite -1.500s; }
.calendar.calendar-beckon .calendar-day13 { animation: anim-beckon 3s infinite -1.375s; }
.calendar.calendar-beckon .calendar-day14 { animation: anim-beckon 3s infinite -1.250s; }
.calendar.calendar-beckon .calendar-day15 { animation: anim-beckon 3s infinite -1.125s; }
.calendar.calendar-beckon .calendar-day16 { animation: anim-beckon 3s infinite -1.000s; }
.calendar.calendar-beckon .calendar-day17 { animation: anim-beckon 3s infinite -0.875s; }
.calendar.calendar-beckon .calendar-day18 { animation: anim-beckon 3s infinite -0.750s; }
.calendar.calendar-beckon .calendar-day19 { animation: anim-beckon 3s infinite -0.625s; }
.calendar.calendar-beckon .calendar-day20 { animation: anim-beckon 3s infinite -0.500s; }
.calendar.calendar-beckon .calendar-day21 { animation: anim-beckon 3s infinite -0.375s; }
.calendar.calendar-beckon .calendar-day22 { animation: anim-beckon 3s infinite -0.250s; }
.calendar.calendar-beckon .calendar-day23 { animation: anim-beckon 3s infinite -0.125s; }
.calendar.calendar-beckon .calendar-day24 { animation: anim-beckon 3s infinite -0.000s; }
.calendar.calendar-beckon > span { animation-name: anim-beckon-dark ! important; }
@keyframes anim-beckon {
  0%   { color: #666666; }
  80%  { color: #666666; }
  90%  { color: #00ff00; }
  100% { color: #666666; }
}
@keyframes anim-beckon-dark {
  0%   { color: #333333; }
  80%  { color: #333333; }
  90%  { color: #009900; }
  100% { color: #333333; }
}

.calendar-bkg {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  color: #ffffff;
  cursor: default;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
}
.calendar-bkg div:nth-child(1) { opacity: .04; }
.calendar-bkg div:nth-child(2) { opacity: .08; }
.calendar-bkg div:nth-child(3) { opacity: .12; }
.calendar-bkg div:nth-child(4) { opacity: .16; }
.calendar-bkg div {
  text-align: justify;
  margin-bottom: -1.2em;
}
.calendar-bkg div::after {
  content: "_";
  display: inline-block;
  visibility: hidden;
  width: 100%;
}
.calendar .calendar-lightbeam { visibility: hidden; color: #666666; }
.calendar a.calendar-complete .calendar-lightbeam,
.calendar a.calendar-verycomplete .calendar-lightbeam { visibility: visible; }
.calendar a.calendar-verycomplete .calendar-lightbeam { color: #ffff66; text-shadow: 0 0 5px #ffff66; }

/*---------------------------------------------------------
   santa and reindeer
  ---------------------------------------------------------*/

#caravan {
  position: fixed;
  left: -160px;
  top: 7em;
  animation: anim-caravan linear 20s infinite;
  z-index: -1;
}
@keyframes anim-caravan {
  0% { transform: translateX(0);     opacity: 1; }
  95% { transform: translateX(96vw);  opacity: 1; }
  100% { transform: translateX(100vw); opacity: 0; }
}
#caravan div {
  position: absolute;
  top: 0;
  color: #aaaaaa;
  animation: anim-reindeer ease 3.5s infinite;
}
@keyframes anim-reindeer {
  0% { transform: translateY(0); }
  50% { transform: translateY(5px); }
  100% { transform: translateY(0); }
}
#caravan div:before {
  content: "*";
  position: absolute;
  left: 0;
  top: 0;
  font-size: 6pt;
}
#caravan div:after {
  content: "*";
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 5pt;
}
#caravan #sleigh:before {
  content: "J";
  transform: scaleX(-1) rotate(90deg);
  font-size: 10pt;
  color: #990000;
  top: 2px;
}
#caravan #sleigh:after {
  content: none;
}
#caravan #rudolph:before {
  color: #ff0000;
  left: 5px;
  top: 5px;
  text-shadow: 0 0 5px #ff0000, 0 0 5px #ff0000, 0 0 5px #ff0000, 0 0 5px #ff0000, 0 0 5px #ff0000, 0 0 5px #ff0000, 0 0 5px #ff0000;
}
#caravan #rudolph:after {
  content: none;
}

/*---------------------------------------------------------
   snowflakes
  ---------------------------------------------------------*/

.calendar-bkg {
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,.3) 100%);
}
.sf {
  position: fixed;
  animation: anim-sf0 linear 20s infinite;
  z-index: -1;
}
.sf:before {
  content: "*";
}
.sf.sf0 { color: #ffffff; }
.sf.sf1 { color: #cccccc; animation-name: anim-sf1; }
.sf.sf2 { color: #999999; animation-name: anim-sf2; }
.sf.sf3 { color: #666666; animation-name: anim-sf3; }
@keyframes anim-sf0 {
  0%   { transform: translate(  0,     0) rotate(0)     scale(1.0, 1.0); }
  95%  { transform: translate(8em, 100vh) rotate(1turn) scale(1.0, 1.0); }
  100% { transform: translate(8em, 100vh) rotate(1turn) scale(0.0, 0.0); }
}
@keyframes anim-sf1 {
  0%   { transform: translate(  0,     0) rotate(0)     scale(1.0, 1.0); }
  95%  { transform: translate(6em, 100vh) rotate(1turn) scale(1.0, 1.0); }
  100% { transform: translate(6em, 100vh) rotate(1turn) scale(0.0, 0.0); }
}
@keyframes anim-sf2 {
  0%   { transform: translate(  0,     0) rotate(0)     scale(1.0, 1.0); }
  95%  { transform: translate(4em, 100vh) rotate(1turn) scale(1.0, 1.0); }
  100% { transform: translate(4em, 100vh) rotate(1turn) scale(0.0, 0.0); }
}
@keyframes anim-sf3 {
  0%   { transform: translate(  0,     0) rotate(0)     scale(1.0, 1.0); }
  95%  { transform: translate(2em, 100vh) rotate(1turn) scale(1.0, 1.0); }
  100% { transform: translate(2em, 100vh) rotate(1turn) scale(0.0, 0.0); }
}