/*---------------------------------------------------------
   main
-----------------------------------------------------------*/

.calendar .calendar-color-k { color:#6b4d3b; }
.calendar .calendar-color-y { color:#ffff66; text-shadow:0 0 5px #ffff66, 0 0 10px #ffff66; }
.calendar .calendar-color-s { color:#e3b585; }
.calendar .calendar-color-a { color:#a5a8af; }
.calendar .calendar-color-w { color:#ffffff; }
.calendar .calendar-color-n { color:#9b715b; }
.calendar .calendar-color-g { color:#00cc00; }
.calendar .calendar-color-m { color:#d4dde4; }
.calendar .calendar-color-v { color:#df2308; text-shadow:0 0 5px #df2308, 0 0 10px #df2308; }
.calendar .calendar-color-i { color:#a25151; }
.calendar .calendar-color-b { color:#5555bb; }
.calendar .calendar-color-l { color:#ccccff; }